html, body
{
	scroll-behavior: smooth;
}
body
{
	background-image: url("Assets/Graphics/background.png");
	background-size: 100% 120%;
	font-family: 'Tomorrow', sans-serif;
}
#header-div
{
	background-color: #010033;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 5px;
}
#proficon
{
	max-width: 100%;
	height: auto;
}
#name
{
	color: #8800FF;
}
#profession
{
	font-style: italic;
	color: #8800FF;
}
#slogan
{
	font-style: italic;
	color: #AA00FF;
}
#navbar-div
{
	background-color: #010033;
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: black;
	padding: 0px;
}
#navbar-nav
{
	padding: 0px;
}
#navbar-item-div
{
	display: inline-block; 
	text-align: center;
}
#navbar-item-div:not(:last-child)
{
	border-style: solid;
	border-width: 0px 3px 0px 0px;
	border-color: black;
}
#navbar-item
{
	text-align: center;
	font-style: bold;
	padding: 0px;
}
#navbar-item:hover
{
	text-align: center;
	font-style: bold;
	color: #BB0066;
	padding: 0px;
}
#about-div
{
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: black;
	padding: 0px;
}
#aboutbg-div
{
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Assets/Graphics/aboutbg.png");
	background-size: 100% 100.5%;
	padding: 5px;
}
#abouttitle-div
{
	text-align: center;
	color: #4400AA;
}
#aboutdesc-div
{
	text-align: justify;
	background: -webkit-linear-gradient(#BB0066, #CCCCCC);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#projects-div
{
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: black;
	padding: 0px;
}
#projectstitle-div
{
	background-color: #010033;
	text-align: center;
	color: #4400AA;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: black;
}
#plans-div
{
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: black;
	padding: 0px;
}
#plansbg-div
{
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Assets/Graphics/aboutbg.png");
	background-size: 100% 100.5%;
	padding: 5px;
}
#planstitle-div
{
	text-align: center;
	color: #4400AA;
}
#plansdesc-div
{
	text-align: justify;
	background: -webkit-linear-gradient(#BB0066, #CCCCCC);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#contact-div
{
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: black;
	padding: 0px;
}
#contactbg-div
{
	background-color: #000015;
	padding: 5px;
}
#contacttitle-div
{
	text-align: center;
	color: #4400AA;
}
#contact-table
{
	background-color: black;
	text-align: center;
	table-layout: fixed;
}
#footer-div
{
	background-color: black;
	color: white;
	text-align: center;
}
@media (min-width: 1px)
{
	#header-div
	{
		width: 100%;
	}
    #name
	{
		font-size: 7.5vmin;
		margin-top: -2vmin;
		padding-left: 1.5vmin;
	}
	#profession
	{
		font-size: 2.4vmin;
		margin-top: -1.5vmin;
		padding-left: 1.8vmin;
	}
	#slogan
	{
		font-size: 2.6vmin;
		padding-right: 1.4vmin;
		padding-top: 0.7vmin;
	}
	#navbar-div
	{
		font-size: 3vmin;
	}
	#navbar-item-div
	{
		padding-top: 0.8vmin;
		padding-bottom: 0.8vmin;
	}
	#abouttitle-div
	{
		font-size: 5vmin;
	}
	#aboutdesc-div
	{
		font-size: 2.4vmin;
		padding-top: 1.05vmin;
	}
	.carousel-indicators
	{
		margin: 0px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#projectstitle-div
	{
		font-size: 5vmin;
	}
	.carousel-caption h5
	{
		margin: -7vmin;
		font-size: 5vmin;
		text-shadow: 0.4vmin 0.4vmin #000000;
	}
	.carousel-caption p
	{
		margin: 9.5vmin;
		font-size: 2.8vmin;
		text-shadow: 0.2vmin 0.2vmin #000000;
	}
	#planstitle-div
	{
		font-size: 5vmin;
	}
	#plansdesc-div
	{
		font-size: 3.2vmin;
		padding-top: 1.45vmin;
	}
	#contacttitle-div
	{
		font-size: 5vmin;
	}
	#contactdesc-div
	{
		font-size: 2.6vmin;
	}
	#footertext-div
	{
		font-size: 2vmin;
	}
}

@media (min-width: 576px)
{
    #name
	{
		font-size: 38px;
		margin-top: -9px;
		padding-left: 8px;
	}
	#profession
	{
		font-size: 13.5px;
		margin-top: -10px;
		padding-left: 9.5px;
	}
	#slogan
	{
		font-size: 14px;
		padding-right: 4px;
		padding-top: 8px;
	}
	#navbar-div
	{
		font-size: 16px;
	}
	#navbar-item-div
	{
		padding: 4px;
	}
	#abouttitle-div
	{
		font-size: 29px;
	}
	#aboutdesc-div
	{
		font-size: 12px;
		padding-top: 13px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#projectstitle-div
	{
		font-size: 29px;
	}
	.carousel-caption h5
	{
		margin: 15px;
		font-size: 13px;
		text-shadow: none;
	}
	.carousel-caption p
	{
		margin: -16px;
		font-size: 10px;
		text-shadow: none;
	}
	#planstitle-div
	{
		font-size: 29px;
	}
	#plansdesc-div
	{
		font-size: 16px;
		padding-top: 20px;
	}
	#contacttitle-div
	{
		font-size: 29px;
	}
	#contactdesc-div
	{
		font-size: 12px;
	}
	#footertext-div
	{
		font-size: 9px;
	}
}

@media (min-width: 768px)
{
    #name
	{
		font-size: 50.5px;
		margin-top: -12px;
		padding-left: 10.6px;
	}
	#profession
	{
		font-size: 18px;
		margin-top: -13.5px;
		padding-left: 12.5px;
	}
	#slogan
	{
		font-size: 18.5px;
		padding-right: 5.5px;
		padding-top: 12px;
	}
	#navbar-div
	{
		font-size: 20px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#abouttitle-div
	{
		font-size: 38px;
	}
	#aboutdesc-div
	{
		font-size: 16px;
		padding-top: 15px;
	}
	#projectstitle-div
	{
		font-size: 38px;
	}
	.carousel-caption h5
	{
		margin: 9px;
		font-size: 17px;
		text-shadow: none;
	}
	.carousel-caption p
	{
		margin: -10px;
		font-size: 13px;
		text-shadow: none;
	}
	#planstitle-div
	{
		font-size: 38px;
	}
	#plansdesc-div
	{
		font-size: 21px;
		padding-top: 18px;
	}
	#contacttitle-div
	{
		font-size: 38px;
	}
	#contactdesc-div
	{
		font-size: 15px;
	}
	#footertext-div
	{
		font-size: 10px;
	}
}

@media (min-width: 992px)
{
    #name
	{
		font-size: 65.5px;
		margin-top: -15.5px;
		padding-left: 13.8px;
	}
	#profession
	{
		font-size: 23.5px;
		margin-top: -17.5px;
		padding-left: 16.3px;
	}
	#slogan
	{
		font-size: 25px;
		padding-right: 9px;
		padding-top: 19px;
	}
	#navbar-div
	{
		font-size: 23px;
	}
	#abouttitle-div
	{
		font-size: 50px;
	}
	#aboutdesc-div
	{
		font-size: 22px;
		padding-top: 15px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#projectstitle-div
	{
		font-size: 50px;
	}
	.carousel-caption h5
	{
		font-size: 20px;
		text-shadow: none;
	}
	.carousel-caption p
	{
		font-size: 16px;
		text-shadow: none;
	}
	#planstitle-div
	{
		font-size: 50px;
	}
	#plansdesc-div
	{
		font-size: 29px;
		padding-top: 35px;
	}
	#contacttitle-div
	{
		font-size: 50px;
	}
	#contactdesc-div
	{
		font-size: 18px;
	}
	#footertext-div
	{
		font-size: 12px;
	}
}

@media (min-width: 1200px)
{
    #name
	{
		font-size: 78.5px;
		margin-top: -18.6px;
		padding-left: 15px;
	}
	#profession
	{
		font-size: 28px;
		margin-top: -21px;
		padding-left: 19px;
	}
	#slogan
	{
		font-size: 30px;
		padding-right: 10.8px;
		padding-top: 22.8px;
	}
	#navbar-div
	{
		font-size: 26px;
	}
	#abouttitle-div
	{
		font-size: 60px;
	}
	#aboutdesc-div
	{
		font-size: 27px;
		padding-top: 0px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#projectstitle-div
	{
		font-size: 60px;
	}
	.carousel-caption h5
	{
		font-size: 23px;
		text-shadow: none;
	}
	.carousel-caption p
	{
		font-size: 18px;
		text-shadow: none;
	}
	#planstitle-div
	{
		font-size: 60px;
	}
	#plansdesc-div
	{
		font-size: 36px;
		padding-top: 30px;
	}
	#contacttitle-div
	{
		font-size: 60px;
	}
	#contactdesc-div
	{
		font-size: 21px;
	}
	#footertext-div
	{
		font-size: 14px;
	}
}