@media (min-width: 1px)
{
	#header-div
	{
		width: 100%;
	}
    #name-div
	{
		font-size: 7.5vmin;
		margin-top: -2vmin;
		padding-left: 1.5vmin;
	}
	#profession-div
	{
		font-size: 2.4vmin;
		margin-top: -1.5vmin;
		padding-left: 1.8vmin;
	}
	#slogan-div
	{
		font-size: 2.6vmin;
		padding-right: 1.4vmin;
		padding-top: 0.7vmin;
	}
	#navbar-div
	{
		font-size: 3vmin;
	}
	#navbar-item-div
	{
		padding-top: 0.8vmin;
		padding-bottom: 0.8vmin;
	}
	#abouttitle-div
	{
		font-size: 5vmin;
	}
	#aboutdesc-div
	{
		font-size: 2.4vmin;
		padding-top: 1.05vmin;
	}
	.carousel-indicators
	{
		margin: 0px;
	}
	.carousel-inner
	{
		width: 100%;
	}
	#projectstitle-div
	{
		font-size: 5vmin;
	}
	.carousel-caption h5
	{
		margin: -7vmin;
		font-size: 5vmin;
		text-shadow: 0.4vmin 0.4vmin #000000;
	}
	.carousel-caption p
	{
		margin: 9.5vmin;
		font-size: 2.8vmin;
		text-shadow: 0.2vmin 0.2vmin #000000;
	}
	#planstitle-div
	{
		font-size: 5vmin;
	}
	#plansdesc-div
	{
		font-size: 3.2vmin;
		padding-top: 1.45vmin;
	}
	#contacttitle-div
	{
		font-size: 5vmin;
	}
	#contactdesc-div
	{
		font-size: 2.6vmin;
	}
	#footertext-div
	{
		font-size: 2vmin;
	}
}